<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/header") %>
        <title>Document</title>
    </head>
    <body>
        <%- include("./partials/navbar") %>
        <br>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <img src="<%= post.imagePath %>" class="image mx-auto d-block">
                </div>
            </div>
            <hr>
            <h3>comente:</h3>
            <form action="/comment" method="post">
                <input type="text" name="comment" placeholder="comente aqui!" class="form-control">
                <input type="hidden" name="idPost" value="<%=post.idPost%>">
                <br>
                <div class="text-end">
                    <input type="submit" class="btn btn-light" style="background-color:lightskyblue; color: white;" value="comentar">
                </div>
            </form>
            <hr>
            <h3>comentarios</h3>
            <% comments.forEach(comment=>{ %>
                <div class="card">
                    <div class="card-body">
                        <p><%= comment.comment %></p>
                    </div>
                </div>
                <br>
            <% }) %>
        </div>
        <%- include("./partials/dependencies") %>
    </body>
</html>